<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>

        <ion-toolbar>
          <ion-avatar>
      <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
      <ion-img src="./assets/imgs/student.png"></ion-img>

      </ion-avatar>


        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- <ion-chip>
          <ion-avatar>
            <ion-img src="./assets/imgs/student.png"></ion-img>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>Chip Avatar</ion-label>
        </ion-chip> -->
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>

            </ion-item>
          </ion-menu-toggle>
          <ion-item [routerDirection]="'root'" routerLink="/favorite">
            <ion-icon slot="start" name="heart"></ion-icon>
            <ion-label>
             My Favorite
            </ion-label>
            <ion-badge> {{ badge}}</ion-badge>
          </ion-item>
          <ion-item>
       <ion-label>Pepperoni</ion-label>
       <!-- <ion-toggle [(ngModel)]="pepperoni"></ion-toggle> -->
     </ion-item>
        </ion-list>

        <ion-row>
           <ion-col size="6">
             <ion-button expand="block" (click)="enableDark()">Dark</ion-button>
           </ion-col>
           <ion-col size="6">
             <ion-button expand="block" (click)="enableLight()">Light</ion-button>
           </ion-col>
         </ion-row>
      </ion-content>
      <ion-footer >
      <ion-toolbar color="primary">
        <ion-title>App Verstion 2.0</ion-title>
      </ion-toolbar>
      </ion-footer>




    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
